<h3>Create Patient</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="patient.name" name="name">
    </div>

    <div class="form-group">
      <label>Address</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="patient.address" name="address">
    </div>

    <div class="form-group">
      <label>Birth Date</label>
      <input type="text" class="form-control" id="birthDate" required [(ngModel)]="patient.birthDate" name="birthDate">
    </div>

    <div class="form-group">
      <label>Gender</label>
      <input type="text" class="form-control" id="gender" required [(ngModel)]="patient.gender" name="gender">
    </div>

    <div class="form-group">
      <label>Medical Record</label>
      <input type="text" class="form-control" id="medicalRecord" required [(ngModel)]="patient.medicalRecord" name="medicalRecord">
    </div>

    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
    </div>

    <div class="form-group row">
      <label for="selectCaregiver" class="col-sm-2 col-form-label">Caregiver</label>
      <div class="col-sm-10">
        <select class="form-control" name="selectCaregiver" id="selectCaregiver" formControlName="caregivers">
          <option *ngFor="let caregiver of caregivers | async" [value]="caregiver.idCaregiver">
            {{caregiver.name}}
          </option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
