<h2>My profile</h2>

<hr/>
<div *ngIf="patient">
  <div>
    <label><b>Name: </b></label> {{patient.name}}
  </div>
  <div>
    <label><b>Address: </b></label> {{patient.address}}
  </div>
  <div>
    <label><b>Gender: </b></label> {{patient.gender}}
  </div>
  <div>
    <label><b>Birth Date: </b></label> {{patient.birthDate}}
  </div>

  <div>
    <label><b>Medical Record: </b></label> {{patient.medicalRecord}}
  </div>

  <div>
    <label><b>My Caregiver: </b></label> {{patient.caregiver.name}}
  </div>
  <div>
    <label><b>My Intake Medication: </b></label>
    <ul>
      <li><label>Start Date: </label> {{patient.intake.startDate}}</li>
      <li><label>End Date: </label> {{patient.intake.endDate}}</li>
      <li><label>Medication name: </label> {{patient.intake.medication.name}}</li>
      <li><label>Dosage: </label> {{patient.intake.medication.dosage}}</li>
      <li><label>Side Effects: </label> {{patient.intake.medication.sideEffects}}</li>
    </ul>
  </div>

</div>
