<nav class="navbar navbar-default" *ngIf="currentUser">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Home</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav mr-auto" >
        <li><a class="nav-item nav-link" routerLink="/doctor" *ngIf="isDoctor()">Doctor</a></li>
        <li class="nav-item">
          <a routerLink="addMedication" class="nav-link" routerLinkActive="active" *ngIf="isDoctor()">Add Medication</a>
        </li>
        <li class="nav-item">
        <a routerLink="addCaregiver" class="nav-link" routerLinkActive="active" *ngIf="isDoctor()">Add Caregiver</a>
      </li>
        <li class="nav-item">
          <a routerLink="addPatient" class="nav-link" routerLinkActive="active" *ngIf="isDoctor()">Add Patient</a>
        </li>
        <li><a class="nav-item nav-link" routerLink="/caregiver" *ngIf="isCaregiver()" >Caregiver</a></li>
        <li><a class="nav-item nav-link" routerLink="/patient" *ngIf="isPatient()" >Patient</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right mr-auto">
        <li><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
