<h3>Update Medication</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="medication.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Dosage</label>
      <input type="text" class="form-control" id="dosage" required [(ngModel)]="medication.dosage" name="dosage">
    </div>

    <div class="form-group">
      <label for="name">Side Effects</label>
      <input type="text" class="form-control" id="sideEffects" required [(ngModel)]="medication.sideEffects" name="sideEffects">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
