<h3>Update Patient</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="patient.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Address</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="patient.address" name="address">
    </div>

    <div class="form-group">
      <label for="name">Birth Date</label>
      <input type="text" class="form-control" id="birthDate" required [(ngModel)]="patient.birthDate" name="birthDate">
    </div>

    <div class="form-group">
      <label for="name">Gender</label>
      <input type="text" class="form-control" id="gender" required [(ngModel)]="patient.gender" name="gender">
    </div>

    <div class="form-group">
      <label for="name">Medical Record</label>
      <input type="text" class="form-control" id="medicalRecord" required [(ngModel)]="patient.medicalRecord" name="medicalRecord">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
