<h2>My profile</h2>

<hr/>
<div *ngIf="caregiver">
  <div>
    <label><b>Name: </b></label> {{caregiver.name}}
  </div>
  <div>
    <label><b>Address: </b></label> {{caregiver.address}}
  </div>
  <div>
    <label><b>Gender: </b></label> {{caregiver.gender}}
  </div>
  <div>
    <label><b>Birth Date: </b></label> {{caregiver.birthDate}}
  </div>

  <div>
    <label><b>Doctor: </b></label> {{caregiver.doctor.name}}
  </div>
  <div>
    <label><b>Patients: </b></label>
    <ul>
      <li *ngFor="let patient of caregiver.patientList">
        {{patient.name}}
      </li>
    </ul>
  </div>
</div>
