<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Medication List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Dosage</th>
        <th>Side effects</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let medication of medicamentation | async">
        <td>{{medication.name}}</td>
        <td>{{medication.dosage}}</td>
        <td>{{medication.sideEffects}}</td>
        <td><button (click)="deleteMedication(medication.idMedication)" class="btn btn-danger" style="margin-bottom: 10px">Delete</button>
          <button (click)="updateMedication(medication.idMedication)" class="btn btn-info" style="margin-bottom: 10px">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-primary " style="width: 850px">
  <div class="panel-heading">
    <h2>Patients </h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Medical Record</th>
        <th>Caregiver</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients | async">
        <td>{{patient.name}}</td>
        <td>{{patient.birthDate}}</td>
        <td>{{patient.gender}}</td>
        <td>{{patient.address}}</td>
        <td>{{patient.medicalRecord}}</td>
        <td>{{patient.caregiver.name}}</td>
        <td></td>
        <td><button (click)="deletePatient(patient.idPatient)"  class="btn btn-danger" style="margin-bottom: 10px">Delete</button>
          <button (click)="updatePatient(patient.idPatient)"  class="btn btn-info" style="margin-bottom: 10px">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-primary " style="width: 800px">
  <div class="panel-heading">
    <h2>Caregivers </h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Doctor</th>
        <th>Patients</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let caregiver of caregivers | async">
        <td>{{caregiver.name}}</td>
        <td>{{caregiver.birthDate}}</td>
        <td>{{caregiver.gender}}</td>
        <td>{{caregiver.address}}</td>
        <td>{{caregiver.doctor.name}}</td>
        <td><ul>
          <li *ngFor="let patient of caregiver.patientList">
            {{patient.name}}
          </li>
        </ul></td>
        <td></td>
        <td><button (click)="deleteCaregiver(caregiver.idCaregiver)" class="btn btn-danger" style="margin-bottom: 10px">Delete</button>
          <button (click)="updateCaregiver(caregiver.idCaregiver)" class="btn btn-info" style="margin-bottom: 10px">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
